.container{
    min-width: 550px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
    padding-top: 5px;
}

.header{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.header .section{
    padding: 10px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
}

.header .active{
    border-bottom: 2px solid rgb(27, 162, 235);
    color: rgb(88, 91, 237);
}
.label{
    margin-left: 13px;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail .row{
    display: flex;
}

.detail .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail .row> div{
    flex: 1;
}

.chips{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.chip{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 4px 8px;
    background-color: #808080;
    border-radius: 20px;
    margin-left: 10px;
}

.chip p{
    font-weight: 500;
    line-height: 1.25rem;
    color: #fff;
    
}

.chip svg{
    color: #fff;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.chips .active{
    background-color: #239ce2;
}

